*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabesalho{
    background-color: #ffffff;
    height: 110px;
    box-shadow: 1px 1px 10px 1px;
}

.logo{
    display: flex;
    margin-left: 20px;
}

.topicos{
    display: flex;
    padding-left: 700px;
}

.topicos a{
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin: -79px 0px 0px 110px;
}

.fundo{
    background-color: #e7ecefc2;
    width: 100%;
    height: 650px;
}

.fundoHome{
    background-color: #e7ecefc2;
    width: 100%;
    height: 1650px;
}

.page{
    display: flex;
    justify-content: center; 
}

.cadastro{
    margin-top: 15%;
    background-color: #ffffff;
    width: 400px;
    height: 515px;
    text-align: center;
    border-radius: 20px;
    border-width: 30px;
    align-items: center;
    justify-content: center;
}

.cadastro h1{
    color: #e63946;
}


.cadastro label{
    color: #e63946;
    padding-right: 165px;
}

.login{
    margin-top: 20%;
    background-color: #ffffff;
    width: 400px;
    height: 480px;
    text-align: center;
    border-radius: 20px;
    border-width: 30px;
    align-items: center;
    justify-content: center;
}

.login label{
    color: rgb(224, 70, 70);
    padding-right: 165px;
}

.login a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #274c77;
    padding-top: 20px;
}

.login h1{
    color: #e63946;
}

.botao input{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 220px;
    border-radius: 15px;
    background-color: #e63946;
    border-width: 0px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 23px;
}

.input{
    width: 220px;
    border-radius: 22px;
    border: 2px #e63946 solid;
    padding: 5px;
    margin: 0px 0px 20px 21%;
}

.input input{
    width: 80%;
    border: none;
    outline: none;
}

.Cadastro{
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.corpo{
    display: flex;
    justify-content: center;
}

.foto{
    margin: 50px 0px 0px 0px;
}

.horarios{
    display: flex;
    width: 550px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}

.click{
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}

.anuncio{
    display: flex;
    width: 800px;
    height: 300px;
    border-radius: 60px;
    background-color: rgb(32, 32, 32);
}

.posisao{
    display: flex;
    text-align: center;
    align-items: center;
}

.Botao{
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 60px;
    background-color: #e63946;
    align-items: center;
    justify-content: center;
    margin: 0px 80px 0px 100px;
}

.Botao a{
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.txt{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px 55px 0px 0px;
    color: white;
}

.clickP{
    display: flex;
    justify-content: center;
}

.anuncioP{
    display: flex;
    width: 900px;
    height: 500px;
    border-radius: 60px;
    background-color: rgb(32, 32, 32);
}

.posisaoP{
    display: flex;
    text-align: center;
    align-items: center;
}

.BotaoP{
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 60px;
    background-color: #e63946;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px -280px;
}

.BotaoP a{
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.txtP{
    display: flex;
    text-align: center;
    margin: 500px 0px 0px 70px;
    color: white;
}

.plano1{
    margin: 100px 0px 0px 50px;
}